@{
ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <form asp-action="Login" asp-controller="Account" method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" placeholder="Login" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Hasło" required>
        </div>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-@TempData["MessageType"]" role="alert">
                @TempData["Message"]
            </div>
        }
        <div class="form-group">
            <button class="btn btn-info" type="submit" asp-action="Register" asp-controller="Account">Zarejestruj się</button>
            <button class="btn btn-info" type="submit">Zaloguj się</button>
        </div>
    </form>
</div>
