@{
ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <form asp-action="Login" asp-controller="Account" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="Login" name="Login" placeholder="Login" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Hasło" required>
        </div>
        @if (ViewData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["Error"]
            </div>
        }
        <div class="form-group">
            <button class="btn btn-info" type="submit" asp-action="Register" asp-controller="Account">Zarejestruj się</button>
            <button class="btn btn-info" type="submit">Zaloguj się</button>
        </div>
    </form>
</div>
